---
import topics from "../../data/papers.json";
import Layout from "../../layouts/Layout.astro";
import Feed from "../../components/Feed.astro";
import ListView from "../../components/ListView.astro";
import { SEO } from "astro-seo";
import ogImage from "../../images/about.png";

export function getStaticPaths() {
  return topics.map((topic) => {
    return { params: { slug: topic.slug } };
  });
}

const { slug } = Astro.params,
  topic = topics.find((topic) => topic.slug === slug);
---

<Layout>
  <SEO
    slot="head"
    title={`CYBERNOISE - ${topic?.name}`}
    description={`Latest news, articles, and research on ${topic?.name}.`}
    openGraph={{
      basic: {
        title: `Latest news, articles, and research on ${topic?.name}.`,
        type: "website",
        image: ogImage.src,
      },
      image: {
        alt: "CYBERNOISE magazine floating in the sky above a futuristic city",
      },
    }}
  />

  <title slot="head">CYBERNOISE - {topic?.name}</title>

  <div class="body" slot="body">
    <!-- <ListView /> -->

    <div class="feed">
      {
        topic !== undefined && (
          <Feed showBacklink={true} topic={topic} paperLimit={12} />
        )
      }
    </div>
  </div>
</Layout>

<style>
  .body {
    position: relative;
  }
</style>
