---
import { SEO } from "astro-seo";
import Feed from "../../components/Feed.astro";
import ogImage from "../../images/about.png";
import Layout from "../../layouts/Layout.astro";
import { getTopicBySlug } from "../../lib/database";

const { slug } = Astro.params;
const topic = await getTopicBySlug(slug!);

export function getStaticPaths() {
  return ["artificial-intelligence", "plant-biology", "economics"].map((topic) => {
    return { params: { slug: topic } };
  });
}
---

<Layout>
  <SEO
    slot="head"
    title={`CYBERNOISE - ${topic?.name}`}
    description={`Latest news, articles, and research on ${topic?.name}.`}
    openGraph={{
      basic: {
        title: `Latest news, articles, and research on ${topic?.name}.`,
        type: "website",
        image: ogImage.src,
      },
      image: {
        alt: "CYBERNOISE magazine floating in the sky above a futuristic city",
      },
    }}
  />

  <title slot="head">CYBERNOISE - {topic?.name}</title>

  <div class="body" slot="body">
    <!-- <ListView /> -->

    <div class="feed">
      {topic && <Feed showBacklink={true} topic={topic} paperLimit={999} />}
    </div>
  </div>
</Layout>

<style>
  .body {
    position: relative;
  }
</style>
