---
import { SEO } from "astro-seo";
import { Image } from "astro:assets";
import Markdown from "../../components/Markdown.astro";
import Layout from "../../layouts/Layout.astro";
import { getAllPapers, getPaperById } from "../../lib/database";

const { slug } = Astro.params;
const paperId = slug!.split("--")[0];
const paper = await getPaperById(paperId);

export async function getStaticPaths() {
  const papers = await getAllPapers();
  return papers.map((paper) => {
    return { params: { slug: `${paper.id}--${paper.slug}` } };
  });
}

const imageImports = import.meta.glob("../../images/articles/*.png", {
  eager: true,
}) as Record<string, { default: any }>;

const imageKey = Object.keys(imageImports).find((image) => {
  return image.indexOf(paper?.id || "") !== -1 ? paper?.id : "";
});
const image = imageKey ? imageImports[imageKey]?.default : null;
---

<Layout>
  <SEO
    slot="head"
    title={`CYBERNOISE - ${paper?.title}`}
    description={paper?.summary}
    openGraph={{
      basic: {
        title: `${paper?.title}`,
        type: "website",
        image: image?.src ?? "",
      },
      image: {
        alt: paper?.prompt,
      },
    }}
  />

  <div slot="body">
    <h2>{paper?.title}</h2>

    <p class="intro">{paper?.intro}</p>

    {
      image && (
        <Image
          class="image"
          src={image}
          alt={paper?.prompt ?? ""}
          title={paper?.prompt ?? ""}
          width={1200}
          height={400}
          sizes="(max-width: 1199px) calc(100vw - 40px), (min-width:1400px) 1024px"
          quality={75}
        />
      )
    }

    <div class="text">
      {
        paper?.text?.split("\n\n").map((paragraph) => {
          return (
            <p class="paragraph">
              <Markdown content={paragraph} />
            </p>
          );
        })
      }
    </div>

    <p class="credit">
      Original paper: <a href={paper?.link}>{paper?.link}</a>
      <br />
      {paper?.creator && `Authors: ${paper?.creator}`}
    </p>
  </div>
</Layout>

<style>
  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0 0 40px 0;
    border: 1px solid teal;
  }

  .intro {
    font-size: 24px;
  }
  /* 
  .text {
    column-width: 500px;
    column-gap: 40px;
  } */

  .credit {
    font-size: 16px;
    margin: 40px 0;
  }

  @media (max-width: 767px) {
    .credit {
      font-size: 12px;

      width: 250px;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
