---
import { Picture } from "@astrojs/image/components";
import topics from "../../data/papers.json";
import Layout from "../../layouts/Layout.astro";
import { SEO } from "astro-seo";
import type { Paper } from "../../components/Feed.astro";

const { slug } = Astro.params,
  papers = topics.map((topic) => topic.papers).flat(),
  paper = papers.find((paper: Paper) => paper.slug === slug);

export function getStaticPaths() {
  return topics
    .map((topic) => topic.papers)
    .flat()
    .map((paper) => {
      return { params: { slug: paper.slug } };
    });
}

const imageImports = import.meta.glob("../../images/articles/*.png", {
  eager: true,
});

const imageKey = Object.keys(imageImports).find((image) => {
  return image.indexOf(paper?.slug || "") !== -1 ? paper?.slug : "";
});
const image = imageImports[imageKey]?.default;
---

<Layout>
  <SEO
    slot="head"
    title={`CYBERNOISE - ${paper?.title}`}
    description={paper?.summary}
    openGraph={{
      basic: {
        title: `${paper?.title}`,
        type: "website",
        image: image?.src ?? "",
      },
      image: {
        alt: paper?.prompt,
      },
    }}
  />

  <div slot="body">
    <h2>{paper?.title}</h2>

    <p class="intro">{paper?.intro}</p>

    {
      image && (
        <Picture
          class="image"
          src={image}
          alt={paper?.prompt ?? ""}
          title={paper?.prompt ?? ""}
          sizes="(max-width: 1199px) calc(100vw - 40px), (min-width:1400px) 1024px"
          widths={[350, 500, 700, 768, 1000, 1024, 1400, 1536, 2048]}
          formats={["webp", "jpeg"]}
          quality={75}
        />
      )
    }

    <div class="text">
      {
        paper?.text?.split("\n\n").map((paragraph) => {
          return <p class="paragraph">{paragraph}</p>;
        })
      }
    </div>

    <p class="credit">
      Original paper: <a href={paper?.link}>{paper?.link}</a>
      <br />
      {paper?.creator && `Authors: ${paper?.creator}`}
    </p>
  </div>
</Layout>

<style>
  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0 0 40px 0;
    border: 1px solid teal;
  }

  .intro {
    font-size: 24px;
  }
  /* 
  .text {
    column-width: 500px;
    column-gap: 40px;
  } */

  .credit {
    font-size: 16px;
    margin: 40px 0;
  }

  @media (max-width: 767px) {
    .credit {
      font-size: 12px;

      width: 250px;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
